.features {
  margin: 0;
  list-style: none;
  background-color: $white-color;
  text-align: left;
  padding: 22px 18px;
}

.features__item {
  margin-bottom: 30px;
}

.features__title {
  color: $header-text-color;
}

.features__description {
  color: $default-text-color;
}
