.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../img/intro-triangle.png"), url("../../img/back-desktop.jpg");
  background-position: center bottom, center top;
  background-size: auto, cover;
  background-repeat: no-repeat;
  height: 389px;
}
