.main-nav {
  height: 56px;
  background-color: $white-color;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;
  background-color: $blue-color;
  color: $white-color;
  font-size: 18px;
  line-height: 40px;
  box-shadow:
    inset 0 -1px rgba($color: $dark-color, $alpha: 0.2),
    inset 0 1px rgba($color: $white-color, $alpha: 0.2);

  a {
    color: $white-color;
    text-decoration: none;
    font-weight: bold;
  }
}
