.reasons-item {
  line-height: 21px;
  counter-increment: reason;
}

.reasons-item--main {
  background-color: $blue-color;
  color: $white-color;

  .reasons-item__title {
    color: $white-color;
  }

  .reasons-item__text-container {
    padding: 39px 20px 35px;
  }

  &:first-child {
    background-image: url("../../img/intro-triangle-white.png");
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 33px;
  }
}

.reasons-item--submain {
  background-color: $grey-color;
  padding: 0 20px;

  .reasons-item__text-container {
    padding: 26px 12px;
  }

  &:not(:last-child) .reasons-item__text-container {
    border-bottom: 1px solid $darker-grey-color;
  }
}

.reasons-item__image-container {
  line-height: 0;
}

.reasons-item__description {
  &::before {
    display: flow-root;
    content: "— №" counter(reason) " —";
    margin: 14px 0;
  }
}
