.reasons__header {
  padding: 30px 20px 11px;
  line-height: 26px;
}

.reasons__title {
  margin-bottom: 30px;
}

.reasons__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: reason;
}
