.search-hotel {
  padding: 33px 20px 33px;
}

.search-hotel__title {
  font-size: 21px;
  margin-bottom: 27px;
}

.search-hotel__info {
  line-height: 24px;
  margin-bottom: 27px;
}

.search-hotel__link {
  width: 100%;
}
