.button {
  display: inline-block;
  padding: 14px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: $color-white;
  background-color: $color-blue;
  text-decoration: none;
  border: none;
  box-sizing: border-box;

  &:hover {
    background-color: $color-blue-darker;
  }

  &:active {
    color: rgba($color: $color-white, $alpha: 0.3);
    background-color: $color-blue-down;
  }

  &:disabled {
    background-color: $color-border-grey;
  }
}
