.checkbox__input {
  &:checked + .checkbox__label::after {
    opacity: 1;
  }

  &:checked:active + .checkbox__label::after {
    opacity: 0.3;
  }
}

.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: none;
  text-align: left;
  font-size: 18px;
  font-weight: 700;

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    align-self: flex-start;
    width: 56px;
    height: 56px;
    margin-right: 23px;
    background-color: $color-grey-background;
    border-radius: 5px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    align-self: flex-start;
    width: 56px;
    height: 56px;
    background-image: url("../img/sprite.svg#tick");
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
  }

  &:hover {
    &::before {
      background-color: $color-border-grey;
    }
  }

  &:active {
    &::before {
      background-color: #d5d5d5;
    }
  }
}
