.features {
  margin: 0;
  padding: 35px 20px;
  text-align: left;
  list-style: none;
  background-color: $color-white;
}

.features__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &--house::before {
    margin-top: -10px;
    background: url("../img/icon-house.svg");
    background-repeat: no-repeat;
  }

  &--gift::before {
    margin-top: -13px;
    background: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }

  &--burger::before {
    margin-top: -9px;
    background: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
  }

  &::before {
    position: absolute;
    width: 40px;
    height: 40px;
    content: "";
    background-position: center;
    background-size: contain;
  }
}

.features__title {
  margin: 0;
  margin-left: 50px;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
}

.features__description {
  margin: 0;
  margin-left: 50px;
  line-height: 21px;
  color: $color-primary;
}

@media (min-width: 768px) {
  .features {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: inherit;
    padding: 0;
    text-align: center;
  }

  .features__title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 21px;
  }

  .features__item {
    padding: 55px 25px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::before {
      position: static;
      display: block;
      margin: 0 auto 25px;
      width: 76px;
      height: 76px;
    }

    &--gift {
      order: 3;
    }
  }

  .features__description {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .features__item {
    width: 300px;
    padding: 65px 0;
    margin: 0 auto;
  }
}
