.features {
  margin: 0;
  padding: 35px 20px;
  text-align: left;
  list-style: none;
  background-color: $color-white;
}

.features__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &--house::before {
    margin-top: -12px;
    background-image: url("../img/sprite.svg#icon-house");
  }

  &--gift::before {
    margin-top: -13px;
    background-image: url("../img/sprite.svg#icon-gift");
  }

  &--burger::before {
    margin-top: -8px;
    background-image: url("../img/sprite.svg#icon-burger");
  }
}

.features__title {
  margin: 0;
  margin-left: 50px;
  margin-bottom: 17px;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
}

.features__description {
  margin: 0;
  margin-left: 50px;
  line-height: 21px;
  color: $color-primary;

  br {
    display: none;
  }
}

@media (min-width: 768px) {
  .features {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: inherit;
    padding: 0;
    text-align: center;
  }

  .features__title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 21px;
  }

  .features__item {
    padding: 55px 30px 60px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &--house {
      padding: 55px 40px 60px;
    }

    &--burger {
      padding: 55px 50px 60px;
    }

    &--gift {
      order: 3;
    }

    &::before {
      position: static;
      display: block;
      margin: 0 auto 27px;
      width: 76px;
      height: 76px;
    }
  }

  .features__description {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .features__item {
    width: 300px;
    padding: 55px 0 80px;
    margin: 0 auto;
  }

  .features__description {
    br {
      display: block;
    }
  }
}
