.form-group {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  border: none;
  min-inline-size: min-content;
  padding: 20px;
  border-top: 1px solid $color-border-grey;
}

.form-group__title {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 700;
}
