.form {
  margin-bottom: 40px;
  text-align: center;
}

.form__header {
  padding: 35px 20px 16px;
}

.form__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 26px;
}

.form__description {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.form__submit-wrapper {
  padding: 0 20px;
  margin-top: 29px;
}

.form__submit-button {
  width: 100%;
  max-width: 480px;
}

.form__required {
  display: none;
  text-align: left;
}

@media (min-width: 768px) {
  .form {
    padding: 0 60px;
    margin-bottom: 60px;
  }

  .form__header {
    margin: 52px 0 74px;
    padding: 10px;
  }

  .form__description {
    max-width: 440px;
    margin: 0 auto;
  }

  .form__title {
    margin-bottom: 31px;
    font-size: 30px;
    line-height: 30px;
  }

  .form__container {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 50px;
  }

  .form__required {
    display: block;
    align-self: center;
    justify-self: end;
    margin-top: 12px;
  }

  .form__submit-wrapper {
    padding: 0;
    margin-top: 8px;
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {
  .form {
    padding: 0 120px;
    margin-bottom: 65px;
  }

  .form__header {
    margin: 102px 0 48px;
  }
}
