.form-group {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding: 20px 20px 25px;
  line-height: 26px;
  border: none;
  min-inline-size: min-content;
  border-top: 1px solid $color-border-grey;

  &--contacts,
  &--sights,
  &--review {
    grid-column: 1 / -1;
  }

  &--contacts,
  &--review {
    .form-group__title {
      margin-bottom: 15px;
    }
  }

  &--opinion {
    .form-group__title {
      margin-bottom: 23px;
    }
  }

  &--sights {
    padding: 16px 20px 25px;
  }
}

.form-group__title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

.form-group__textarea {
  width: 100%;
  min-height: 160px;
  padding: 13px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $color-black;
  background-color: $color-grey-background;
  border: none;
  box-sizing: border-box;
  outline: none;
  resize: vertical;

  &::placeholder {
    opacity: 1;
    color: $color-black;
  }
}

.form-group__text-field {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.form-group__contacts-container {
  .form-group__text-field {
    &:not(:last-child) {
      margin-bottom: 15px;

      @media (min-width: 1200px) {
        margin-bottom: 0;
      }
    }
  }
}

.form-group__checkbox {
  &:not(:last-child) {
    margin-bottom: 24px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) {
  .form-group {
    padding: 0;
    border: none;

    &--contacts {
      .form-group__title {
        margin-bottom: 20px;
      }

      .form-group__text-field {
        &:not(:last-child) {
          margin-bottom: 23px;
        }
      }
    }

    &--sights {
      margin-bottom: 20px;

      .form-group__title {
        margin-bottom: 45px;
      }
    }

    &--opinion {
      .form-group__title {
        margin-bottom: 58px;
      }
    }

    &--personal {
      .form-group__title {
        margin-bottom: 57px;
      }
    }

    &--review {
      .form-group__title {
        margin-bottom: 55px;
      }
    }

    &:nth-child(3) {
      order: -1;
    }

    &:first-child {
      border-left: 1px solid $color-border-grey;
      padding-left: 55px;
      margin-bottom: 22px;
    }
  }

  .form-group__title {
    margin-bottom: 55px;
    font-size: 21px;
    text-align: left;

    &--bordered {
      display: flex;
      align-items: center;
      text-align: center;

      &::before,
      &::after {
        content: "";
        display: block;
        flex: 1;
        width: 100%;
        height: 1px;
        background-color: #dbdbdb;
      }

      legend {
        width: 400px;
        padding-left: 60px;
        padding-right: 60px;
      }
    }
  }

  .form-group__checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 31px;
  }

  .form-group__checkbox {
    min-width: 200px;
  }

  .form-group__textarea {
    padding: 17px 20px;
  }
}

@media (min-width: 1200px) {
  .form-group {
    &--contacts {
      .form-group__title {
        margin-bottom: 77px;
      }
    }

    &--opinion {
      padding-right: 47px;

      .form-group__title {
        text-align: center;
      }
    }

    &--sights {
      .form-group__title {
        margin-bottom: 39px;
      }
    }

    &:first-child {
      padding-left: 78px;
      margin-bottom: 18px;
    }
  }

  .form-group__contacts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    .form-group__text-field:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .form-group__checkbox-container {
    justify-content: flex-start;
    column-gap: 53px;
  }
}
