.form__header {
  padding: 30px 20px 20px;
}

.form__title {
  margin: 0 0 25px 0;
}

.form__submit-wrapper {
  padding: 0 20px;
}

.form__submit-button {
  width: 100%;
  max-width: 480px;
}

.form__required {
  display: none;
}

@media (min-width: 768px) {
  .form {
    padding: 0 60px;
  }

  .form__header {
    margin-bottom: 50px;
  }

  .form__title {
    font-size: 30px;
  }

  .form__container {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 80px;
  }

  .form__required {
    display: block;
  }
}

@media (min-width: 1200px) {
  .form {
    padding: 0 120px;
  }
}
