.gallery {
  text-align: center;
}

.gallery__header {
  padding: 30px 20px;
}

.gallery__title {
  margin: 0;
  margin-bottom: 25px;
}

.gallery__description {
  margin: 0;
}

.gallery__item {
  border-top: 1px solid $color-border-grey;

  &:last-child {
    border-bottom: 1px solid $color-border-grey;
  }
}

@media (min-width: 768px) {
  .gallery {
    padding: 0 60px;
  }

  .gallery__header {
    width: 458px;
    margin: 0 auto;
    padding: 60px 0;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery__item {
    flex: 1;
    padding: 0;
    border: none;

    a {
      height: 267px;
    }

    &:first-child {
      a {
        height: 400px;
      }
    }

    &:first-of-type {
      width: 100%;
      grid-column: 1 / -1;
    }

    &:last-child {
      border: none;
    }

    &:nth-child(2n+3) {
      background-color: #e2e2e2;
    }
  }

  .gallery__title {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .gallery {
    padding: 0;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
