.gallery__header {
  padding: 30px 20px;
}

.gallery__title {
  margin: 0 0 25px 0;
}

.gallery__description {
  margin: 0;
}

.gallery__item {
  padding: 20px;
  border-top: 1px solid $color-border-grey;

  &:last-child {
    border-bottom: 1px solid $color-border-grey;
  }
}

@media (min-width: 768px) {
  .gallery {
    padding: 0 60px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__item {
    padding: 0;
    border: none;
    flex: 1;
  }

  .gallery__item:first-of-type {
    width: 100%;
    flex: auto;
  }
}

@media (min-width: 1200px) {
  .gallery {
    padding: 0;
  }
}
