.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/intro-triangle.png"), url("../img/back-desktop.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: $color-grey;

  &--main {
    min-height: 390px;
    background-size: auto, cover;
  }

  &--simple {
    min-height: 160px;
  }
}

@media (min-width: 768px) {
  .intro {
    &--main {
      min-height: 518px;
    }

    &--simple {
      min-height: 290px;
    }
  }
}
