.intro {
  display: flex;
  justify-content: center;
  background-image: url("../img/intro-triangle.svg"), url("../img/bg-mobile.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: $color-grey;

  &--main {
    min-height: 389px;

    picture {
      margin-top: 90px;
      height: 214px;
    }
  }

  &--simple {
    min-height: 160px;

    picture {
      margin-top: 52px;
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-triangle.svg"), url("../img/bg-mobile@2x.jpg");
    background-size: auto, 901px;
  }
}

@media (min-width: 768px) {
  .intro {
    background-image: url("../img/intro-triangle.svg"), url("../img/bg-desktop.jpg");

    &--main {
      min-height: 518px;

      img,
      picture {
        width: 461px;
        height: 350px;
      }

      picture {
        margin-top: 78px;
      }
    }

    &--simple {
      min-height: 290px;
      background-size: auto;

      img {
        width: 457px;
        height: 78px;
      }

      picture {
        margin-top: 95px;
      }
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-triangle.svg"), url("../img/bg-desktop@2x.jpg");
      background-size: auto, 1200px;
    }
  }
}

@media (min-width: 1200px) {
  .intro {
    &--simple {
      min-height: 300px;

      picture {
        margin-top: 102px;
      }
    }
  }
}
