.nav-toggle {
  height: 22px;
  width: 23px;
  padding: 0;
  background-image: url("../img/sprite.svg#icon-menu");
  background-color: $color-white;
  border: none;
  cursor: pointer;

  &--close {
    background-image: url("../img/icon-cross.svg");
    background-color: $color-blue;
  }

  @media (min-width: 768px) {
    display: none;
  }
}
