.page-header {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 56px;
  background-color: $color-white;
}

.page-header__logo {
  position: absolute;
  left: calc(50% - 51px);
  right: 0;
  width: 102px;
}

.page-header__nav-toggle {
  margin-right: 20px;
  height: 22px;
  align-self: center;
}
