.page-footer {
  padding: 38px 20px 22px;
  text-align: center;
}

.page-footer__hashtag {
  margin: 0;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $color-black;
}

.page-footer__social {
  margin-bottom: 41px;
}

@media (min-width: 600px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding: 36px 60px;
  }

  .page-footer__hashtag {
    margin-right: 5px;
    margin-bottom: 0;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    flex-shrink: 0;
    margin-left: 15px;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    padding: 36px 120px;
  }
}
