.page-footer {
  padding: 28px 20px;
}

.page-footer__hashtag {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $color-black;
}

.page-footer__copyright {
  margin-top: 40px;
}

.page-footer__social {
  margin: 33px auto 0;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .page-footer__social,
  .page-footer__copyright {
    margin: 0;
  }
}
