.page-header {
  position: relative;
  display: flex;
  height: 56px;
  background-color: $color-white;
}

.page-header__logo {
  position: absolute;
  left: calc(50% - 51px);
  right: 0;
  display: block;
  width: 102px;

  @media (min-width: 768px) {
    z-index: 1;
  }

  @media (min-width: 1200px) {
    left: calc(50% - 93px);

    img {
      width: 187px;
      height: 97px;
    }
  }
}

.page-header__nav-toggle {
  z-index: 1;
  margin: 17px 20px 17px auto;
  height: 22px;
  width: 23px;
  padding: 0;
  align-self: center;
  background: url("../img/icon-menu.svg");
  background-color: $color-white;
  cursor: pointer;

  &--close {
    background: url("../img/icon-cross.svg");
    background-color: $color-blue;
  }
}

@media (min-width: 768px) {
  .page-header__nav-toggle.button {
    display: none;
  }
}
