.popup {
  position: fixed;
  top: 116px;
  left: 0;
  margin: 20px 0;
  width: 100%;
  min-height: 280px;
  text-align: center;
  background-color: $color-white;
  box-shadow: 0 7px 15px rgba($color: #000101, $alpha: 0.15);

  &--hidden {
    display: none;
  }

  &--failure {
    .popup__button {
      margin-top: 22px;
    }
  }
}

.popup__container {
  padding: 40px 42px;
}

.popup__text {
  margin: 0;
}

.popup__button {
  min-width: 180px;
  max-width: 458px;
  font-size: 18px;
}

.popup__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 26px;
}

.popup__footer {
  padding: 20px;
  background-color: $color-grey-background;

  .popup__button {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .popup {
    &--failure {
      width: 400px;
      left: calc(50% - 200px);

      .popup__title {
        line-height: 40px;
      }

      .popup__container {
        padding: 50px 60px;
      }

      .popup__button {
        width: 100%;
        margin-top: 40px;
      }
    }

    &--success {
      width: 640px;
      left: calc(50% - 320px);

      .popup__container {
        padding: 50px 60px;
      }

      .popup__footer {
        padding: 44px;
      }
    }
  }

  .popup__title {
    font-size: 30px;
    margin-bottom: 35px;
  }
}
