.reasons {
  text-align: center;
}

.reasons__header {
  padding: 33px 25px 11px;
  line-height: 26px;
}

.reasons__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  color: $color-black;
}

.reasons__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: reason;
}

.reasons__description {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .reasons__header {
    width: 520px;
    margin: 0 auto;
    padding: 45px 0 53px;
  }

  .reasons__title {
    font-size: 21px;
  }

  .reasons__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .reasons__header {
    padding: 55px 0 43px;
  }
}
