.reasons-item {
  counter-increment: reason;
}

.reasons-item--main {
  color: $color-white;

  .reasons-item__title {
    color: $color-white;
  }

  .reasons-item__text-container {
    background-color: $color-blue;
    padding: 40px 20px;
  }

  &:first-child .reasons-item__text-container {
    background-image: url("../../img/intro-triangle-white.png");
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 70px;
  }
}

.reasons-item--submain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-grey;
  padding: 0 20px;

  .reasons-item__title {
    color: $color-black;
  }

  .reasons-item__text-container {
    padding: 26px 12px;
  }

  &:not(:last-child) .reasons-item__text-container {
    border-bottom: 1px solid $color-grey-darker;
  }
}

.reasons-item__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reasons-item__image-container {
  line-height: 0;

  img {
    max-width: 100%;
  }
}

.reasons-item__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;

  &::after {
    display: flow-root;
    content: "— №" counter(reason) " —";
    margin: 20px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    word-spacing: normal;
  }
}

.reasons-item__description {
  line-height: 21px;
  margin: 0;
}

@media (min-width: 768px) {
  .reasons-item {
    min-height: 260px;
  }

  .reasons-item--main {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: inherit;
  }

  .reasons-item--main:first-child .reasons-item__text-container {
    background-image: none;
    padding-top: 40px;
  }

  .reasons-item--main:nth-child(2) .reasons-item__image-container {
    grid-column: 1 / 3;
    order: -1;
  }

  .reasons-item--submain:not(:last-child) .reasons-item__text-container {
    border: none;
  }

  .reasons-item--submain .reasons-item__title {
    word-spacing: 260px;
  }

  .reasons-item__title {
    font-size: 21px;
  }

  .reasons-item__image-container {
    grid-column: 2 / -1;
  }
}
