.reasons__header {
  padding: 30px 20px 11px;
  line-height: 26px;
}

.reasons__title {
  font-size: 18px;
  margin: 0 0 30px 0;
  color: $color-black;
}

.reasons__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: reason;
}

.reasons__description {
  margin: 0;
}

@media (min-width: 768px) {
  .reasons__header {
    padding: 50px 20px;
  }

  .reasons__title {
    font-size: 21px;
  }

  .reasons__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
