.reasons-item {
  counter-increment: reason;
}

.reasons-item--main {
  color: $color-white;

  .reasons-item__title {
    color: $color-white;
  }

  .reasons-item__text-container {
    background-color: $color-blue;
    padding: 39px 20px 35px;
  }

  &:first-child .reasons-item__text-container {
    background-image: url("../../img/intro-triangle-white.png");
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 70px;
  }
}

.reasons-item--submain {
  background-color: $color-grey;
  padding: 0 20px;

  .reasons-item__title {
    color: $color-black;
  }

  .reasons-item__text-container {
    padding: 26px 12px;
  }

  &:not(:last-child) .reasons-item__text-container {
    border-bottom: 1px solid $color-grey-darker;
  }
}

.reasons-item__image-container {
  line-height: 0;
}

.reasons-item__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;

  &::after {
    display: flow-root;
    content: "— №" counter(reason) " —";
    margin: 14px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}

.reasons-item__description {
  line-height: 21px;
  margin: 0;
}
