.reasons-item {
  counter-increment: reason;
}

.reasons-item--main {
  color: $color-white;

  .reasons-item__title {
    color: $color-white;
  }

  .reasons-item__text-container {
    padding: 40px 20px;
    background-color: $color-blue;
  }

  &:first-child {
    .reasons-item__text-container {
      padding-top: 75px;
      background-image: url("../img/intro-triangle-white.svg");
      background-position: center top;
      background-repeat: no-repeat;
    }
  }
}

.reasons-item--submain {
  padding: 0 20px;
  background-color: $color-grey;

  .reasons-item__title {
    color: $color-black;
  }

  .reasons-item__text-container {
    padding: 26px 12px;
  }

  &:not(:last-child) .reasons-item__text-container {
    border-bottom: 1px solid $color-grey-darker;
  }
}

.reasons-item__image-container {
  height: 260px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
  }
}

.reasons-item__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 26px;

  &::after {
    display: block;
    margin-top: 10px;
    content: "— №" counter(reason) " —";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    word-spacing: normal;
  }
}

.reasons-item__description {
  margin: 0;
  line-height: 21px;

  br {
    display: none;
  }

  &--narrow {
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .reasons-item {
    &--main {
      display: grid;
      grid-column: 1 / -1;
      grid-template-columns: inherit;

      .reasons-item__text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px 30px;
      }

      &:first-child .reasons-item__text-container {
        padding-top: 40px;
        background-image: none;
      }

      &:nth-child(2) .reasons-item__image-container {
        grid-column: 1 / 3;
        order: -1;
      }
    }

    &--submain {
      padding: 0;

      .reasons-item__text-container {
        padding: 40px 40px 40px;
      }

      &:not(:last-child) .reasons-item__text-container {
        border: none;
      }
    }
  }

  .reasons-item__text-container {
    min-height: 256px;
  }

  .reasons-item__title {
    width: 155px;
    margin: 0 auto;
    margin-bottom: 23px;
    font-size: 21px;

    &::after {
      margin-top: 14px;
    }
  }

  .reasons-item__image-container {
    grid-column: 2 / -1;
    height: 256px;
  }
}

@media (min-width: 1200px) {
  .reasons-item {
    &--main {
      &:first-child .reasons-item__text-container {
        padding-top: 30px;
      }

      .reasons-item__text-container {
        padding: 40px 60px;
      }
    }

    &--submain {
      .reasons-item__text-container {
        padding: 43px 40px 40px;
      }
    }
  }

  .reasons-item__image-container {
    img {
      width: 100%;
    }
  }

  .reasons-item__description {
    br {
      display: block;
    }

    &--narrow {
      padding: 0 25px;
    }
  }
}
