.search-hotel {
  text-align: center;
}

.search-hotel__container {
  padding: 33px 20px 52px;
}

.search-hotel__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 21px;
}

.search-hotel__info {
  margin: 0;
}

.search-hotel__link {
  width: 100%;
  max-width: 458px;
  margin-top: 27px;
}

.search-hotel__map {
  display: block;
  width: 100%;
  height: 350px;
  border: 0;
}

@media (min-width: 768px) {
  .search-hotel__container {
    width: 458px;
    margin: 0 auto;
    padding: 58px 20px;
  }

  .search-hotel__title {
    margin-bottom: 38px;
    font-size: 30px;
  }

  .search-hotel__link {
    margin-top: 38px;
  }
}

@media (min-width: 1200px) {
  .search-hotel__container {
    padding: 58px 20px 71px;
  }
}
