.search-hotel {
  text-align: center;
}

.search-hotel__container {
  padding: 33px 20px 50px;
}

.search-hotel__title {
  margin: 0;
  margin-bottom: 22px;
  font-size: 21px;
  line-height: 26px;
}

.search-hotel__info {
  margin: 0;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  br {
    display: none;
  }
}

.search-hotel__link {
  width: 100%;
  max-width: 458px;
  margin-top: 27px;
}

@media (min-width: 768px) {
  .search-hotel__container {
    width: 458px;
    margin: 0 auto;
    padding: 58px 0;
  }

  .search-hotel__title {
    margin-bottom: 31px;
    font-size: 30px;
  }

  .search-hotel__link {
    margin-top: 38px;
  }

  .search-hotel__info br {
    display: block;
  }
}

@media (min-width: 1200px) {
  .search-hotel__container {
    padding: 58px 0 65px;
  }

  .search-hotel__link {
    margin-top: 45px;
  }
}
