.search-hotel {
  padding: 33px 20px 33px;
}

.search-hotel__title {
  font-size: 21px;
  margin: 0 0 25px 0;
}

.search-hotel__info {
  margin-bottom: 27px;
}

.search-hotel__link {
  width: 100%;
  max-width: 458px;
}
