.social__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  padding: 0;

  &::before {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--twitter::before {
    background-image: url("../img/icon-twitter.png");
  }

  &--facebook::before {
    background-image: url("../img/icon-facebook.png");
  }

  &--youtube::before {
    background-image: url("../img/icon-youtube.png");
  }

  &:active::before {
    opacity: 0.3;
  }
}
