.text-field {
  display: flex;
  align-items: center;

  &--phone,
  &--email {
    flex-direction: column;
    align-items: flex-start;

    .text-field__label {
      margin: 0;
      margin-bottom: 8px;
      margin-left: 22px;
    }

    .text-field__input {
      padding-right: 70px;
    }
  }

  &--phone .text-field__input-holder::after {
    background-image: url("../img/sprite.svg#phone");
    background-size: 18px;
  }

  &--email .text-field__input-holder::after {
    background-image: url("../img/sprite.svg#mail");
    background-size: 16px;
  }
}

.text-field__input-holder {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 58px;
    height: 58px;
    background-color: $color-grey-input;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: 1200px) {
    width: 315px;
  }
}

.text-field__label {
  margin-right: 15px;

  &--short {
    display: none;
  }

  @media (min-width: 1200px) {
    &--short {
      display: block;
    }

    &--full {
      display: none;
    }
  }
}

.text-field__input {
  width: 100%;
  height: 58px;
  padding: 0 20px;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 26px;
  background-color: $color-grey-background;
  border: 4px solid $color-grey-background;
  box-sizing: border-box;

  &:hover {
    background-color: $color-border-grey;
    border: 4px solid $color-border-grey;
  }

  &:focus {
    background-color: $color-white;
    border: 4px solid $color-border-grey;
    outline: none;
  }

  &::placeholder {
    opacity: 1;
    color: $color-black;
  }
}

@media (min-width: 1200px) {
  .text-field {
    &--phone,
    &--email {
      flex-direction: row;
      align-items: center;

      .text-field__label {
        margin-left: 0;
        margin-right: 15px;
        text-align: left;
      }
    }
  }
}
