.video {
  margin-bottom: 104px;
  padding-top: 30px;
  text-align: center;
}

.video__title {
  margin: 0;
  margin-bottom: 30px;
  color: $color-black;
  font-size: 18px;
}

.video__text {
  margin: 0;
  padding: 0 25px;

  &:not(:last-of-type) {
    margin-bottom: 25px;
  }
}

.video__player {
  margin-top: 35px;
}

@media (min-width: 768px) {
  .video {
    margin: 0;
    padding: 57px 60px 40px;
  }

  .video__title {
    margin-bottom: 35px;
    font-size: 30px;
  }

  .video__text {
    width: 500px;
    margin: 0 auto;
  }

  .video__player {
    margin-top: 80px;
  }
}

@media (min-width: 1200px) {
  .video {
    padding: 57px 60px 85px;
  }
}
