.video {
  margin-bottom: 66px;
  padding-top: 35px;
  text-align: center;
}

.video__title {
  margin: 0;
  margin-bottom: 25px;
  color: $color-black;
}

.video__text {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 25px;
}

.video__player {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .video {
    margin: 0;
    padding: 60px 60px 40px;
  }

  .video__title {
    margin-bottom: 35px;
    font-size: 30px;
  }

  .video__text {
    width: 500px;
    margin: 0 auto 70px;
    margin-bottom: 70px;
  }
}
