<footer class="page-footer">
  <p class="page-footer__hashtag">#visitSEDONA</p>

  <div class="page-footer__social social">
    <ul class="social__list">
      <li class="social__item">
        <a class="social__link social__link--twitter button" href="https://vk.com/htmlacademy" rel="noopener nofollow" target="_blank">
          <span class="visually-hidden">Мы в Вконтакте</span>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--facebook button" href="https://www.facebook.com/htmlacademy" rel="noopener nofollow" target="_blank">
          <span class="visually-hidden">Мы в Фейсбуке</span>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--youtube button" href="https://www.instagram.com/htmlacademy" rel="noopener nofollow" target="_blank">
          <span class="visually-hidden">Мы в Инстаграме</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="page-footer__copyright copyright">
    Разработано
    <a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive" rel="noopener nofollow" target="_blank">
      <svg width="27" height="35" viewBox="0 0 27 35" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <use href="img/sprite.svg#htmlacademy" width="27" height="35"/>
      </svg>
      <span class="visually-hidden">Сайт HTML Academy</span>
    </a>
  </div>
</footer>
