<section class="intro intro--simple">
  <h2 class="visually-hidden">Приветствие</h2>
  <picture>
    <source media="(min-width: 768px)" srcset="img/intro-simple-desktop.svg">
    <img src="img/intro-simple-mobile.svg" width="229" height="39" alt="Седона.">
  </picture>
</section>
