<section class="intro intro--main">
  <h2 class="visually-hidden">Приветствие</h2>
  <picture>
    <source media="(min-width: 768px)" srcset="img/intro-text-desktop.svg">
    <img src="img/intro-text-mobile.svg" width="282" height="214" alt="Welcome to the gorgeous Sedona. “Because the Grand Canyon sucks!”">
  </picture>
</section>
