.form__header {
  padding: 30px 20px 15px;
}

.form__title {
  margin-bottom: 30px;
}

.form__submit-wrapper {
  padding: 0 20px;
}

.form__submit-button {
  width: 100%;
  max-width: 480px;
}

.form__required {
  display: none;
}
