{% set title = 'Седона: фото и видео' %}
{% set current = 'catalog' %}
{% set heading = 'Седона - галерея' %}
{% extends "layouts/layout.njk" %}
{% block content %}
{% include 'templates/intro-simple.njk' %}
<section class="gallery">
  <header class="gallery__header">
    <h2 class="gallery__title">Фото и Видео</h2>
    <p class="gallery__description">Не можете решиться на путешествие из-за курса?<br> Фотографии помогут вам забыть о политике и экономике.</p>
  </header>

  <div class="gallery__list">
    <article class="gallery__item gallery-card">
      <a class="gallery-card__image" href="#">
        <picture>
          <source media="(min-width: 768px)" type="image/webp" srcset="img/gallery/photo-1-desktop.webp 1x, img/gallery/photo-1-desktop@2x.webp 2x">
          <source media="(min-width: 320px)" type="image/webp" srcset="img/gallery/photo-1-tablet.webp 1x, img/gallery/photo-1-tablet@2x.webp 2x">
          <source type="image/webp" srcset="img/gallery/photo-1-mobile.webp 1x, img/gallery/photo-1-mobile@2x.webp 2x">

          <source media="(min-width: 768px)" srcset="img/gallery/photo-1-desktop.jpg 1x, img/gallery/photo-1-desktop@2x.jpg 2x">
          <source media="(min-width: 320px)" srcset="img/gallery/photo-1-tablet.jpg 1x, img/gallery/photo-1-tablet@2x.jpg 2x">
          <img src="img/gallery/photo-1-mobile.jpg" srcset="img/gallery/photo-1-mobile@2x.jpg 2x" width="280" height="280" alt="Неродные просторы.">
        </picture>
      </a>

      <div class="gallery-card__info">
        <h3 class="gallery-card__title">
          <a href="#">Неродные просторы</a>
        </h3>

        <span class="gallery-card__author">Автор фото: Борис</span>

        <div class="gallery-card__likes like">
          <button class="like__button">
            <span class="visually-hidden">Лайкнуть фото</span>
          </button>
          <span class="like__counts">1350</span>
        </div>
      </div>
    </article>

    <article class="gallery__item gallery-card">
      <a class="gallery-card__image" href="#">
        <picture>
          <source media="(min-width: 768px)" type="image/webp" srcset="img/gallery/photo-2-desktop.webp 1x, img/gallery/photo-2-desktop@2x.webp 2x">
          <source media="(min-width: 320px)" type="image/webp" srcset="img/gallery/photo-2-tablet.webp 1x, img/gallery/photo-2-tablet@2x.webp 2x">
          <source type="image/webp" srcset="img/gallery/photo-2-mobile.webp 1x, img/gallery/photo-2-mobile@2x.webp 2x">

          <source media="(min-width: 768px)" srcset="img/gallery/photo-2-desktop.jpg 1x, img/gallery/photo-2-desktop@2x.jpg 2x">
          <source media="(min-width: 320px)" srcset="img/gallery/photo-2-tablet.jpg 1x, img/gallery/photo-2-tablet@2x.jpg 2x">
          <img src="img/gallery/photo-2-mobile.jpg" srcset="img/gallery/photo-2-mobile@2x.jpg 2x" width="280" height="280" alt="Местная растительность.">
        </picture>
      </a>

      <div class="gallery-card__info">
        <h3 class="gallery-card__title">
          <a href="#">Местная растительность</a>
        </h3>

        <span class="gallery-card__author">Автор фото: Сергей</span>

        <div class="gallery-card__likes like">
          <button class="like__button">
            <span class="visually-hidden">Лайкнуть фото</span>
          </button>
          <span class="like__counts">143</span>
        </div>
      </div>
    </article>

    <article class="gallery__item gallery-card">
      <a class="gallery-card__image" href="#">
        <picture>
          <source media="(min-width: 768px)" type="image/webp" srcset="img/gallery/photo-3-desktop.webp 1x, img/gallery/photo-3-desktop@2x.webp 2x">
          <source media="(min-width: 320px)" type="image/webp" srcset="img/gallery/photo-3-tablet.webp 1x, img/gallery/photo-3-tablet@2x.webp 2x">
          <source type="image/webp" srcset="img/gallery/photo-3-mobile.webp 1x, img/gallery/photo-3-mobile@2x.webp 2x">

          <source media="(min-width: 768px)" srcset="img/gallery/photo-3-desktop.jpg 1x, img/gallery/photo-3-desktop@2x.jpg 2x">
          <source media="(min-width: 320px)" srcset="img/gallery/photo-3-tablet.jpg 1x, img/gallery/photo-3-tablet@2x.jpg 2x">
          <img src="img/gallery/photo-3-mobile.jpg" srcset="img/gallery/photo-3-mobile@2x.jpg 2x" width="280" height="280" alt="Дорога на север.">
        </picture>
      </a>

      <div class="gallery-card__info">
        <h3 class="gallery-card__title">
          <a href="#">Дорога на север</a>
        </h3>

        <span class="gallery-card__author">Автор фото: Петр</span>

        <div class="gallery-card__likes like">
          <button class="like__button">
            <span class="visually-hidden">Лайкнуть фото</span>
          </button>
          <span class="like__counts">96</span>
        </div>
      </div>
    </article>

    <article class="gallery__item gallery-card">
      <a class="gallery-card__image" href="#">
        <picture>
          <source media="(min-width: 768px)" type="image/webp" srcset="img/gallery/photo-4-desktop.webp 1x, img/gallery/photo-4-desktop@2x.webp 2x">
          <source media="(min-width: 320px)" type="image/webp" srcset="img/gallery/photo-4-tablet.webp 1x, img/gallery/photo-4-tablet@2x.webp 2x">
          <source type="image/webp" srcset="img/gallery/photo-4-mobile.webp 1x, img/gallery/photo-4-mobile@2x.webp 2x">

          <source media="(min-width: 768px)" srcset="img/gallery/photo-4-desktop.jpg 1x, img/gallery/photo-4-desktop@2x.jpg 2x">
          <source media="(min-width: 320px)" srcset="img/gallery/photo-4-tablet.jpg 1x, img/gallery/photo-4-tablet@2x.jpg 2x">
          <img src="img/gallery/photo-4-mobile.jpg" srcset="img/gallery/photo-4-mobile@2x.jpg 2x" width="280" height="280" alt="Мост дьявола.">
        </picture>
      </a>

      <div class="gallery-card__info">
        <h3 class="gallery-card__title">
          <a href="#">Мост дьявола</a>
        </h3>

        <span class="gallery-card__author">Автор фото: Антон</span>

        <div class="gallery-card__likes like">
          <button class="like__button">
            <span class="visually-hidden">Лайкнуть фото</span>
          </button>
          <span class="like__counts">254</span>
        </div>
      </div>
    </article>
  </div>
</section>

<section class="video">
  <h2 class="video__title">Все еще сомневаетесь?</h2>
  <p class="video__text">Смотрите видеопрезентацию и скорее за билетами, пока они не подорожали в очередной раз!</p>

  <div class="video__player player">
    <video src="#" poster="./img/video-preview.jpg"></video>
    <div class="player__controls">
      <button class="player__control player__control--replay" type="button">
        <svg width="16" height="20" viewBox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
          <use href="img/sprite.svg#replay"/>
        </svg>
        <span class="visually-hidden">Воспроизвести</span>
      </button>

      <div class="player__progress">
        <div class="player__progress-bar">
          <button class="player__progress-button" type="button">
            <span class="visually-hidden">Ползунок</span>
          </button>
        </div>
      </div>

      <button class="player__control player__control--caption" type="button">
        <svg width="32" height="20" viewBox="0 0 32 20" xmlns="http://www.w3.org/2000/svg">
          <use href="img/sprite.svg#subtitles"></use>
        </svg>
        <span class="visually-hidden">Субтитры</span>
      </button>
      <button class="player__control player__control--fullscreen" type="button">
        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <use href="img/sprite.svg#fullscreen"></use>
        </svg>
        <span class="visually-hidden">Полный экран</span>
      </button>
    </div>
  </div>
</section>
{% endblock content %}
