// Globals
@import "./globals/variables.scss";
@import "./globals/fonts.scss";
@import "./globals/global.scss";

// Blocks
@import "./blocks/page.scss";
@import "./blocks/page-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/intro.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
@import "./blocks/button.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/reasons.scss";
@import "./blocks/reasons-item.scss";
@import "./blocks/features.scss";
@import "./blocks/search-hotel.scss";
@import "./blocks/form-group.scss";
@import "./blocks/form.scss";
@import "./blocks/popup.scss";
@import "./blocks/radio-button.scss";
@import "./blocks/checkbox.scss";
@import "./blocks/gallery.scss";
@import "./blocks/gallery-card.scss";
@import "./blocks/like.scss";
@import "./blocks/video.scss";
