.features__row {
  &--grey {
    background-color: #eeeeee;
  }
}

.features__item {
  padding: 20px;

  &--blue {
    background-color: #81b3d2;
    color: #ffffff;
  }
}

.features__list {
  list-style: none;
  padding: 0;
}
