.page-footer {
  padding: 28px;
}

.page-footer__hashtag {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: $header-text-color;
}

.page-footer__copyright {
  margin-top: 40px;
}
