.page-footer {
  padding: 28px 20px;
}

.page-footer__hashtag {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: $color-black;
}

.page-footer__copyright {
  margin-top: 40px;
}

.page-footer__social {
  margin: 33px auto 0;
}
