.page-header__logo {
  position: absolute;
}

.page-header__intro {
  height: 389px;
  background: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
}

.page-header__sub-title {
  line-height: 26px;
  color: #333333;
}

